<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <title>Historico de conversa Zenvia NLU</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; border: 1px solid red; max-width: 800px; margin: 0 auto;">
        <h1 class="text-3x1 mb-8">Historico</h1>
        <% if (timeLineMsg.length > 0) { %>
            <% timeLineMsg.forEach(msg => { %>
                <% if (msg.sender == 'bot') { %>
                    <div style="display: flex; flex-direction:column; align-items: start">
                        <div style="margin: 13px; padding: 10px; background-color:rgb(123, 192, 248); display: block; width: max-content; max-width: 600px; border-radius: 10px; justify-content: start;" >                                               
                            <%- msg.msg %>                                                
                        </div>
                    </div>                    
                <% } else { %>
                    <div style="display: flex; flex-direction:column; align-items: end" >
                        <div style="margin: 13px; padding: 10px; background-color:rgb(176, 224, 191); width: max-content; max-width: 600px; border-radius: 10px; justify-content: end" >                        
                            <%- msg.msg %>                     
                        </div>
                    </div>                 
                <% } %> 
            <% }) %>
        <% } %>
    </div>
        
</body>
</html>