<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <title>Historico de conversa Zenvia NLU</title>
</head>
<body>
    <div class="m-8">
        <h1 class="text-3x1 mb-8">Historico</h1>
    </div>
        
</body>
</html>